In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [4]:
df = pd.read_csv("Output/GigWrk.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

,GIGWORK1_W19,RIDESHR_W19,GIGWORK2_A_W19,GIGWORK2_B_W19,GIGWORK2_C_W19,GIGWORK2_D_W19,GIGWORK2_E_W19,GIGWORK2REF_W19,GIGWORK3_W19,GIGWORK4_A_W19,...,EXTRAINC_C_W19,EXTRAINC_D_W19,EXTRAINC_E_W19,EXTRAINCREF_W19,TENURE_W19,F_AGECAT_FINAL,F_SEX_FINAL,F_RACECMB_RECRUITMENT,F_RACECMB_RECRUITMENT.1,F_INCOME_FINAL
0,2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,3,1,1,1,7
1,2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,6,2,2,1,1,9
2,2,2,0,0,0,0,0,0,0,0,...,0,0,1,0,6,3,2,3,3,7
3,2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,5,2,2,5,5,5
4,2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,6,3,2,1,1,8

In [ ]:
#dependent variable is F_SEX_FINAL

In [5]:
new_df=df.drop(columns=["GIGWORK2REF_W19", "GIGWORK4REF_W19", "EXTRAINCREF_W19", "F_RACECMB_RECRUITMENT","F_RACECMB_RECRUITMENT","F_INCOME_FINAL"])
new_df

,GIGWORK1_W19,RIDESHR_W19,GIGWORK2_A_W19,GIGWORK2_B_W19,GIGWORK2_C_W19,GIGWORK2_D_W19,GIGWORK2_E_W19,GIGWORK3_W19,GIGWORK4_A_W19,GIGWORK4_B_W19,...,INCCOUNT_W19,EXTRAINC_A_W19,EXTRAINC_B_W19,EXTRAINC_C_W19,EXTRAINC_D_W19,EXTRAINC_E_W19,TENURE_W19,F_AGECAT_FINAL,F_SEX_FINAL,F_RACECMB_RECRUITMENT.1
0,2,2,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,3,1,1
1,2,2,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,6,2,2,1
2,2,2,0,0,0,0,0,0,0,0,...,2,0,0,0,0,1,6,3,2,3
3,2,2,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,5,2,2,5
4,2,2,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,6,3,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3272,2,2,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,6,3,2,1
3273,2,2,0,0,0,0,0,0,0,0,...,2,1,0,0,0,0,5,1,2,1
3274,2,2,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,6,1,2,1
3275,2,2,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,5,2,2,1
3276,2,2,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,3,3,2,1

In [6]:
new_df["F_SEX_FINAL"].value_counts()

2    1686
1    1591
Name: F_SEX_FINAL, dtype: int64

In [8]:
null_counts = new_df.isnull().sum()
print("Number of null values in each column:\n{}".format(null_counts))

Number of null values in each column:
GIGWORK1_W19               0
RIDESHR_W19                0
GIGWORK2_A_W19             0
GIGWORK2_B_W19             0
GIGWORK2_C_W19             0
GIGWORK2_D_W19             0
GIGWORK2_E_W19             0
GIGWORK3_W19               0
GIGWORK4_A_W19             0
GIGWORK4_B_W19             0
GIGWORK4_C_W19             0
GIGWORK4_D_W19             0
GIGWORK4_E_W19             0
GIGWORK4_F_W19             0
GIGWORK5_W19               0
GIGWORK6_W19               0
INCCOUNT_W19               0
EXTRAINC_A_W19             0
EXTRAINC_B_W19             0
EXTRAINC_C_W19             0
EXTRAINC_D_W19             0
EXTRAINC_E_W19             0
TENURE_W19                 0
F_AGECAT_FINAL             0
F_SEX_FINAL                0
F_RACECMB_RECRUITMENT.1    0
dtype: int64

In [9]:
new_df.dtypes.value_counts()

int64    26
dtype: int64

In [10]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3277 entries, 0 to 3276
Data columns (total 26 columns):
GIGWORK1_W19               3277 non-null int64
RIDESHR_W19                3277 non-null int64
GIGWORK2_A_W19             3277 non-null int64
GIGWORK2_B_W19             3277 non-null int64
GIGWORK2_C_W19             3277 non-null int64
GIGWORK2_D_W19             3277 non-null int64
GIGWORK2_E_W19             3277 non-null int64
GIGWORK3_W19               3277 non-null int64
GIGWORK4_A_W19             3277 non-null int64
GIGWORK4_B_W19             3277 non-null int64
GIGWORK4_C_W19             3277 non-null int64
GIGWORK4_D_W19             3277 non-null int64
GIGWORK4_E_W19             3277 non-null int64
GIGWORK4_F_W19             3277 non-null int64
GIGWORK5_W19               3277 non-null int64
GIGWORK6_W19               3277 non-null int64
INCCOUNT_W19               3277 non-null int64
EXTRAINC_A_W19             3277 non-null int64
EXTRAINC_B_W19             3277 non-null int64
EXTRAINC_C_W19             3277 non-null int64
EXTRAINC_D_W19             3277 non-null int64
EXTRAINC_E_W19             3277 non-null int64
TENURE_W19                 3277 non-null int64
F_AGECAT_FINAL             3277 non-null int64
F_SEX_FINAL                3277 non-null int64
F_RACECMB_RECRUITMENT.1    3277 non-null int64
dtypes: int64(26)
memory usage: 691.2 KB

In [15]:
new_df.to_csv("Output/cleaned_randomForests_gig.csv",index=False)

In [16]:
final_gig_df = pd.read_csv("Output/cleaned_randomForests_gig.csv")
final_gig_df

,GIGWORK1_W19,RIDESHR_W19,GIGWORK2_A_W19,GIGWORK2_B_W19,GIGWORK2_C_W19,GIGWORK2_D_W19,GIGWORK2_E_W19,GIGWORK3_W19,GIGWORK4_A_W19,GIGWORK4_B_W19,...,INCCOUNT_W19,EXTRAINC_A_W19,EXTRAINC_B_W19,EXTRAINC_C_W19,EXTRAINC_D_W19,EXTRAINC_E_W19,TENURE_W19,F_AGECAT_FINAL,F_SEX_FINAL,F_RACECMB_RECRUITMENT.1
0,2,2,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,3,1,1
1,2,2,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,6,2,2,1
2,2,2,0,0,0,0,0,0,0,0,...,2,0,0,0,0,1,6,3,2,3
3,2,2,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,5,2,2,5
4,2,2,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,6,3,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3272,2,2,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,6,3,2,1
3273,2,2,0,0,0,0,0,0,0,0,...,2,1,0,0,0,0,5,1,2,1
3274,2,2,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,6,1,2,1
3275,2,2,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,5,2,2,1
3276,2,2,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,3,3,2,1

In [17]:
X=final_gig_df.drop("F_SEX_FINAL", axis=1)
y=final_gig_df["F_SEX_FINAL"].values.reshape(-1, 1)

In [18]:
print("Shape: ", X.shape, y.shape)

Shape:  (3277, 25) (3277, 1)

In [19]:

from sklearn.model_selection import train_test_split

### BEGIN SOLUTION

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [20]:
print(X_train.shape)
print(y_train.shape)

(2457, 25)
(2457, 1)

In [21]:
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)

C:\Users\test\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [22]:
importances = rf.feature_importances_
importances

array([0.00697441, 0.00877   , 0.00669865, 0.0058944 , 0.00901019,
       0.00675911, 0.0089682 , 0.01538443, 0.00839344, 0.00994209,
       0.00448466, 0.00880153, 0.00666934, 0.00399697, 0.01122312,
       0.01273228, 0.21212713, 0.03494436, 0.02074332, 0.02958737,
       0.02411405, 0.025465  , 0.22299906, 0.12398395, 0.17133295])

In [23]:
prediction = rf.predict(X_test)

In [24]:
rf.score(X_test, y_test)

0.525609756097561